/* Sticky header */
.sticky-header {
    position: fixed;
    top: 0;
    /* background-color: #fff; */ /* Set your desired background color */
    z-index: 2; /* Ensure the header appears above other content */
    border-bottom: 1px solid #ccc; /* Optional: Add a border if desired */
    width: 100%; /* Ensure the header spans the full width of the viewport */
    /* Add any other styling you need for your header */
}
#page-topbar {
    z-index: 2;
    background-color: var(--main-color);
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    position: fixed;
    width: 100%;
}
.navbar-header {
    margin: 0 auto;
    padding: 10px 40px;
}
.dashboard-logo {
    width: 120px;
}
.dashboard-logo img {
    width: 100%;
}
.sidebar-list .sidebar-link {
    margin-bottom: 4px;
}
.sidebar-list .sidebar-link a.active {
    background: #e1e1e1;
    color: var(--main-color);
}
.sidebar-list .sidebar-link a.active svg path {
    fill: var(--main-color);
}

.sidebar-list li:hover {
    background: #e1e1e1;
    border-radius: 4px;
}
.dashboard-profile-user {
    display: flex;
    align-items: center;
    gap: 11px;
    /* margin-top: 10px; */
    color: var(--white-color);
    position: relative;
}
.user-logout-btn {
    position: absolute;
    top: 27px;
    width: 100%;
    padding: 10px 20px;
    background: #fff;
    color: var(--black-color);
    opacity: 0;
    visibility: hidden;
    box-shadow: 2px 9px 20px 0px #231c1c29;
    /* text-align: center; */
    transition: .3s;
    border-radius: 6px;
    width: 200px;
    right: 0;
}
.user-logout-btn a{
  color: var(--main-color);
  padding: 4px 0;
}
.dashboard-profile-user:hover .user-logout-btn {
    opacity: 1;
    visibility: visible;
}
.social-list img {
    width: 20px;
}
.dashboard-notifaction {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar-list li a svg {
    width: 20px;
}
.dashboard-notifaction .dashboard-count {
    position: absolute;
    top: 0;
    right: -2px;
    font-size: 8px;
    background: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    color: var(--white-color);
    border-radius: 100%;
}
.dashboard-social-link .social-list span {
    color: var(--white-color);
    font-size: 16px;
}
.sidebar-menu {
    width: 20%;
    background: var(--white-color);
    color: #eaeaea;
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.05);
    font-size: 15px;
    transition: margin-left 0.25s ease;
    min-height: 93vh;
}
.sidebar {
    padding: 20px 30px;
    position: relative;
    height: 100%;
    width: 100%;
}
.sidebar-list li a {
    color: var(--black-color);
    font-weight: 600;
    padding: 7px 12px;
    border-radius: 4px;
    transition: 0.4s;
}
.sidebar-list li:hover {
    background: #e1e1e1;
}
.sidebar-list li:hover a {
    color: var(--main-color);
}
.sidebar-list li:hover svg path {
    fill: var(--main-color);
}
.header-menu {
    display: none;
}
.sidebar.active {
    display: block;
    z-index: 111;
}

.sidebar-close-menu {
    display: none;
}
.main-content {
    padding: 50px 40px;
    width: 80%;
}
.dashboard-profile-user p {
    font-size: 16px;
    color: var(--white-color);
}
.dashboard-profile-user:hover {
    color: var(--white-color);
}
@media only screen and (max-width: 992px) {
    .dashboard-social-link {
        display: none !important;
    }
    .dashboard-logo {
        width: 100px;
    }
    .header-menu {
        display: flex;
    }
    .navbar-header {
        padding: 10px 20px;
    }
    .dashboard-notifaction img {
        width: 25px;
    }
    .dashboard-profile-user {
        margin-top: 0;
    }
    .dashboard-profile-user .user-img {
        width: 25px;
    }
    .sidebar-menu {
        width: 0;
    }
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 60%;
        height: 100%;
        background-color: #fff;
        z-index: 1000;
        overflow-y: auto;
        padding: 40px 40px 20px 40px;
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%);
    }
    .dashboard-profile-user p {
        display: none;
    }

    .sidebar.active {
        transform: translateX(0%);
    }

    .sidebar-close-menu {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 1100;
    }
    .dashboard-notifaction .dashboard-count {
        position: absolute;
        top: 0;
        right: -2px;
        font-size: 12px;
        background: var(--second-color);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        color: var(--white-color);
        border-radius: 100%;
        padding: 4px;
    }
}

@media only screen and (max-width: 568px) {
    .sidebar {
        width: 80%;
    }
}
/* ======================= supplier page ======================== */
.supplier-dashboard {
    /* padding: 10px; */
    width: 100%;
    background: #ffffff;
    position: relative;
}
.i-name {
    color: #616161;
    font-weight: 600;
    font-size: 24px;
}
.sd-boxes {
    /* display: flex; */
    margin: 20px 0px 20px 0px;
}
.sd-box {
    background-color: #f5f5f5;
    padding: 10px 11px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.sd-box-icons img {
    width: 41px;
    padding: 5px 5px 5px 5px;
}
.sd-box-text {
    color: #7d7d7d;
    font-size: 15px;
    font-weight: bold;
    text-align: center; /* Horizontally center */
    /* height: 50%; */
}
.sd-box-text p {
    margin: 0;
}
.sd-box-values {
    background-color: #004382;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    border-radius: 100%;
    padding: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sd-box-values p {
    margin-bottom: 0;
}
.selection-bar {
    padding: 20px 0px 20px 0px;
    font-size: 18px;
}

.tender-tab {
    color: #616161;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
    border-bottom: 2px solid #fd8d0400;
    padding: 0 10px;
}

.tender-tab:hover {
    text-decoration: none;
    color: #004382;
}

.tender-tab.active {
    border-bottom: 2px solid #004382;
}

ul .nav-tabs {
    gap: 20px;
}

.supplier-dashboard .nav-tabs {
    width: 70%;
}
.tender-fee-form {
    background-color: #f5f5f5;
    /* margin: 20px; */
    /* padding: 30px 40px; */
}
.in-tender .tender-form-header {
    color: #004382;
    font-size: 15px;
    font-weight: bold;
}
.form-row {
    padding-bottom: 10px;
}
.in-tender .btn-primary {
    background-color: #fd8b04;
    margin-top: 20px;
    width: 100px;
    font-weight: bold;
}

/* ============================ Tender Live Table ================ */
.tender-title {
    font-size: 27px;
    font-weight: 600;
    line-height: 159%;
}
.pagination {
    margin-top: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.live-tender-search-bar {
    padding: 20px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}
.table-text-list {
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: 700;
    color: var(--main-color);
}
.live-tender-search-bar .search-btn {
    border: none;
    background: none;
    color: var(--main-color);
    font-weight: 500;
}
.live-tender-search-bar input {
    padding: 8px 15px;
    width: 100%;
    border-radius: 5px;
    background: #f5f5f5;
    border: none;
}
.tender-table-body {
    border-top: none !important;
}
.live-table-wrapper {
    padding: 40px 40px 50px 40px;
    border-radius: 5px;
    background: #f5f5f5;
    margin-bottom: 25px;
}
thead.tender-table-header {
    background-color: var(--main-color);
    color: var(--white-color);
    font-weight: 400;
}
.pagination button {
    background-color: var(--main-color);
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}
.table-container {
    margin-bottom: 20px;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.tender-table-header {
    background-color: #f8f9fa;
}
.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
.table td,
.table th {
    padding: 8px 10px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
}
.table td {
    color: var(--black-color);
}
thead.tender-table-header .table th {
    color: var(--white-color);
}
.pagination .next.disabled {
    display: none;
}

/* ================== Tender Details ================= */

.tender-information-content {
    border: 1px solid #b5b5b5;
    background: #fff;
    padding: 20px;
}

.tender-information-content ul li {
    list-style: decimal;
}

.tender-information-content ul {
    padding-left: 20px;
}

.tender-contact-item h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.tender-contact-item p a {
    color: var(--black-color);
}

/* ============  Participate =================    */
.upload-img {
    position: relative;
    display: inline-block;
    overflow: hidden;
    /* padding: 8px; */
    justify-content: center;
    display: flex;
    align-items: center;
    /* padding: 10px 6px; */
    width: 66px;
    margin: auto;
    border-radius: 0;
    padding: 7px 0;
}

.upload-img input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.upload-img img {
    width: 20px;
    height: 20px;
    /* margin-right: 8px; */
    vertical-align: middle;
}
.participate-table .table td,
.table th {
    text-align: center;
}
ul.participate-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.form-control-item {
    padding: 10px 12px;
    background-color: var(--white-color);
    border: none;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 100%;
}
.tender-close-btn {
    background: #b5b5b5;
}
.clickable-row {
    cursor: pointer;
}
.form-input-item label {
    margin-bottom: 10px;
}
.form-input-item {
    margin-bottom: 15px;
}
.tender-interface .form-input-item input{
    margin-bottom: 10px;
}
.participate-tender-table td,
.table th {
    text-align: center;
}

.form-input-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
    width: 100%;
}

.form-input-field input {
    padding: 6px 16px;
    background: var(--white-color);
    border: 1px solid #c3c0c0;
    border-radius: 4px;
    width: 100%;
}
.form-input-field textarea {
    padding: 6px 16px;
    background: var(--white-color);
    border: 1px solid #c3c0c0;
    border-radius: 4px;
    width: 100%;
}
h3.table-user-text-list {
    font-size: 17px;
    margin-bottom: 10px;
}
.show-color-text {
    color: var(--black-color);
    text-decoration: underline;
}
.show-color-text:hover {
    color: var(--black-color);
    text-decoration: underline;
}

table.tab-sf {
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: end;
}

table.tab-sf td {
    border: 1px solid;
}
.btn-main-color {
    background-color: #004382;
}


img.user-img {
    width: 20px;
}

.dashboard-notifaction img {
    width: 23px;
}

.dashboard-wrapper {
    padding-top: 77px;
}
.live-change-wrapper{
    background: none;
    padding: 0;
}
p.tender-form-header {
    margin-bottom: 15px;
}