

/* ==========navbar css =========================*/
.home-header{
    background-color: var(--main-color);
    color: var(--white-color);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}
.navbar-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
/* nav leftside css */
.nav-logo{
    width: 120px;
    /* height: 100px; */
    display: flex;
    align-items: center;
}
.nav-logo img {
    width: 100%;
}
/* nav rightside css */

.navbar-rightside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-rightside ul li {
    display: inline-block;
    margin-left: 20px;
}

.navbar-rightside ul li:first-child {
    margin-left: 0;
}

.navbar-rightside ul li a {
    color: var(--white-color);
    text-decoration: none;
    border: 1px solid var(--white-color);
    padding: 6px 20px;
    border-radius: 5px;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.navbar-rightside ul li a:hover {
    color: var(--second-color);
    border-color: var(--second-color);
}

/* ================================================== */
/*============= Hero section css =====================*/
section.hero-section {
    margin-top: 120px;
}
.hero-header h1{
 color:var(--main-color);
 line-height: 140%;
 font-size: var(--title-font);
 font-weight: var(--font-semi-bold );
 margin: 25px 0;
 display: flex;
 justify-content: center;
}

.hero-content{
    display: flex;
    height: 100%;
}
.hero-content ul li {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
  .hero-custom-btn {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    color: var(--white-color);
    background: #004382;
    transition: .3s;
    /* border: 2px solid var(--ash-color); */
    text-decoration: none;
    text-align: center;
    justify-content: start;
    line-height: 150%;
    align-items: center;
    gap: 30px;
    justify-content: center;
  }

  .hero-custom-btn:hover {
    color: var(--white-color);
  }

  .hero-custom-btn img {
    width: 50px;
  }
  .hero-text {
    color: var(--ash-color);
    font-size: 14px;
    line-height: 150%;
  }
  .hero-text p {
    padding-bottom: 10px;
  }
  .hero-text a {
    color: var(--ash-color);
  }
  .hero-text a:hover {
    color: var(--second-color);
  }
.live-logo-img {
    width: 40px;
    height: 40px;
}
.live-logo-img img {
    width: 100%;
}
  /* ================================================== */
/*============= Slider section css =====================*/
.featured-tenders-section{
    margin: 30px 0 50px 0;
}
.featured-tenders-header h3{
    margin:20px 0;
    font-size: 24px;
    font-weight: bold;
}
.swiper-content-featured-tenders{
    border:  1px solid var(--ash-color-2);
    border-radius: 10px;
    padding: 20px;
    position: relative;
}
.swiper-content-featured-tenders span{
    font-size: 12px;
}
.swiper-content-featured-tenders p{
    font-size: 16px;
    margin-bottom: 10px;
}
.swipper-head-text{
    margin-top:30px;
}

.counting-part span{
    background-color: var(--main-color);
    color: var(--white-color);
    padding: 10px 30px;
    border-radius: 0px 10px 0 10px;
    position: absolute;
    top: 0px;
    right:0px;
    font-weight: 500;
    font-size: 14px;
}
.swiper-content-featured-tenders a {
    background-color: var(--main-color);
    text-decoration: none;
    padding: 6px 20px;
    border-radius: 40px;
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}


  /* ================================================== */
/*============= Footer section css =====================*/

.home-footer{
    border-top: 1px solid var(--ash-color-2);
    margin-top: 22px;
}
.footer-content{
    display:flex;
    justify-content: center;
    padding: 20px 0 30px 0;
    font-size: 12px;
}
.live-tender-wrapper {
    min-height: 70vh;
}
/* ================================================== */
/*============= Media query css =====================*/

  @media screen and (max-width:768px) {
    .navbar-rightside ul li {

        margin-left: 5px;

    }
    .hero-content ul li {
        margin-right: 0;

      }
      .featured-tenders-header h3{
        margin:10px 0;
        font-size: 20px;

    }
    .featured-tenders-section{
        margin: 10px 0;
    }
  }
  @media screen and (max-width:575px) {
    .swiper-content-featured-tenders span{
        font-size: 12px;
    }
    .swiper-content-featured-tenders p{
        font-size: 14px;
        margin-bottom: 10px;

    }
    .counting-part span{
        padding: 10px 20px;
    }
    .swiper-content-featured-tenders a {
        font-size: 12px;
    }

  }
  @media screen and (max-width:425px) {
    .navbar-rightside ul li {
       font-size: 14px;
    }
    .navbar-rightside ul li a{
        padding: 5px 15px;
    }
    .view-more{
        font-size: 14px;
    }

  }
